header{
    text-align: center;
    background-color: rgb(14, 204, 204);
}
body{
    height: 100vh;
}
main{
    background-color: azure;
    text-align: center;
    padding: 20px;
}
#inptext{
    width: 10%;
    outline: none;
}
#NewList{
    text-align: center;
    width: 50%;
    background-color: beige;
    margin:  auto;
    box-shadow: 5px 5px 10px rgb(231,231,231);   /* box shadow */



}
.listnew{
    width: 50%;
    list-style: none;
    margin:  10px auto;
    padding: 5px;
    border :.1px solid gray;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    
}

form{
    width: 40%;
    margin: auto;
    height: 30%;
    padding: 10px;
    background-color: rgb(110, 207, 210);
}
form div{
    background-color:lavender;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
}
form p{
    background-color: rgb(11, 184, 100);
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 10px;

}
.active{
    background-color:slategray;
}